.footer {
  background-color: var(--color-main-1);

  &__container {
    @extend %container;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 6.4rem 0 4.8rem;

    @media (max-width: 1024px) {
      gap: 2rem;
      padding: 3rem 0;
    }

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__logo {
    @include size(10rem);

    @media (max-width: 1024px) {
      @include size(6rem);
      margin-bottom: 2rem;
    }
  }

  &__menu {
    display: flex;
    gap: 6rem;

    @media (max-width: 768px) {
      gap: 5rem;
      margin-bottom: 2rem;
    }
  }

  &__menu-item {
    display: flex;
    flex-direction: column
  }

  &__menu-link {
    @include underline($bg-color: var(--color-main-3));
    @include font(var(--font-1), 2.4rem, var(--fw-500), normal);
    color: $color-black;
    display: inline;
    max-width: max-content;

    @media (max-width: 1024px) {
      font-size: 1.6rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__contacts {
    width: 30.5rem;

    @media (max-width: 1024px) {
      width: 20.5rem;
    }
  }

  &__contacts-tel {
    @include underline($bg-color: var(--color-main-3));
    @include font(var(--font-1), 3rem, var(--fw-400), normal);
    color: $color-black;
    display: inline-flex;
    margin-bottom: 3rem;

    @media (max-width: 1024px) {
      font-size: 1.6rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__contacts-info {
    @include font(var(--font-1), 2rem, var(--fw-400), normal);
    margin-bottom: 1.2rem;

    @media (max-width: 1024px) {
      font-size: 1.6rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__contacts-inner {
    display: inline-flex;
    gap: 2.4rem;
  }

  &__contacts-title {
    @include font(var(--font-1), 2.4rem, var(--fw-500), normal);
    margin-bottom: 2rem;

    @media (max-width: 1024px) {
      font-size: 1.6rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__contacts-link {
    @include size(5rem);
    @include transition;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
    background: linear-gradient(45deg, #bcbd5b 0%, #cfda3a 50%, #92740f 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    box-shadow: 0 10px 14px 0 rgba(0,40,120,0.35);
    justify-content: center;
    position: relative;

    @media (max-width: 1024px) {
      @include size(3rem);
    }

    @include on-event {
      box-shadow: 0 0 0 0 rgba(0,40,120,0);
      background-position: 0 0;
    }

    &::before {
      font-size: 3rem;

      @media (max-width: 1024px) {
        font-size: 1.6rem;
      }
    }
  }
}