.header {
    @include absolute(0, null, null, 0);
    @include transition;
    width: 100%;
    z-index: 100;

  &__scroll {
    background-color: var(--color-main-1);
    box-shadow: 0 0 1rem 0 rgba($color-black, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-animation: header .5s;
    animation: header .5s;
  }

  @keyframes header {
    0% {
      opacity: 0;
      top: -100px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }

  &__container {
    @extend %container;
    background-color: transparent;
    padding: 0 2rem;
  }

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    position: relative;

    @media (max-width: 1024px) {
      padding: 1.5rem 0;
    }
  }

  &__logo {
    @include size(6rem);
    display: inline-block;
  }
}

.navigation {
  $this: &;

  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    display: none;
  }

  &__list {
    display: flex;
    gap: 4rem;
    justify-content: center;

    @media (max-width: 1024px) {
      gap: 2rem;
    }
  }

  &__link {
    @include font(null, 2rem, var(--fw-400), normal);
    @include underline($bottom: 0);
    @include focus($color: currentColor, $offset: 4px);
    color: var(--color-black);
    padding: 0.5rem;
    position: relative;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      font-size: 1.4rem;
    }
  }
}

.menu {
  &__btn {
    @include absolute(50%, 0, null, null);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding-top: 1rem;
    transform: translateY(-50%);
    z-index: 100;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__btn::before,
  &__btn::after {
    @include size(40px, 3px);
    content: "";
    background-color: var(--color-black);
    border-radius: 1px;
    display: block;
    margin-bottom: 8px;
    transition: all 0.5s;
  }

  &__btn.menu__btn--active::after {
    transform: translateY(-8px) rotate(-135deg);
  }

  &__btn.menu__btn--active::before {
    transform: translateY(3px) rotate(135deg);
  }
}

.mob-menu {
  @include size(80%, 100vh);
  background-color: var(--color-main-1);
  box-shadow: 0 0 3rem 0 rgba($color-black, 0.5);
  padding: 5rem 4rem;
  position: fixed;
  top: 0;
  right: -100%;
  transition: all 0.6s ease;

  &__list {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: space-between;
  }

  &__link {
    @include underline;
    color: var(--color-black);
    font-size: 2rem;
  }

  &.menu--active {
    right: 0;
  }
}