.progress {
  &__container {
    @extend %container;
  }

  &__inner {
    display: flex;
    gap: 2.5rem;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__info,
  &__table {
    flex-basis: 50%;

    @media (max-width: 1024px) {
      flex-basis: auto;
    }
  }

  &__table {
    @include font(var(--typo-1), 1.4rem, var(--fw-400), normal);
    border-collapse: collapse;
    overflow-X: auto;

    @media (max-width: 1024px) {
      margin-bottom: 8rem;
    }

    th,
    td {
      border-right: 1px solid $color-white;
      text-align: left;
    }

    thead {
      th,
      td {
        background-color: var(--color-main-2);
        font-weight: var(--fw-700);
        padding: 1.5rem 2rem;

        &:empty {
          background-color: transparent;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: rgba($color-neutral-3, 0.3);
        }
      }

      th {
        background-color: var(--color-main-2);
        font-weight: var(--fw-700);
      }

      th,
      td {
        border-top: 1px solid $color-white;
        padding: 1rem 2rem;
      }
    }

    tr {
      th:last-child,
      td:last-child {
          border-right: 0;
      }
    }
  }

  &__info {
    position: relative;

    &::before {
      @include size(60rem, 28rem);
      @include absolute(-50%, 0, null, null);
      content: '';
      background: {
        image: url('../images/decor/decor-1.svg');
        position: top center;
        repeat: no-repeat;
        size: cover;
      }

      @media (max-width: 1024px) {
        @include size(50rem, 20rem);
        top: -35%;
      }
    }
  }

  &__slider {
    position: relative;
  }

  .swiper {
    height: 37.5rem;
    max-width: 60rem;
    min-width: 0;
  }

  .swiper-pagination-bullet-active {
    background: var(--color-main-1);
  }
}

.progress-item {
  position: relative;

  &__content {
    display: flex;
  }

  &__img,
  &__text {
    flex-basis: 50%;
  }

  &__img {
    width: 100%;
    height: 30rem;
  }

  &__text {
    @include font(var(--typo-1), 2rem, var(--fw-400), normal);
    background-color: $color-white;
    margin-top: 2rem;
    padding: 0 3rem;
  }
}