%container {
  background-color: $color-white;
  margin: -0.1rem auto;
  max-width: 132rem;
  padding: 6rem;

  @media (max-width: 1024px) {
    padding: 4rem 2rem;
  }
}

.container {
  @extend %container;
}
